@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: auto;
    width: 100%;
    /* background-color: #8EC5FC; */
    /* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    box-shadow: 1px 2px 8px #888888;
    
}
.navbar-main{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: auto;
}
.navbar-logo{
    width: 20%;
    display: flex;
}
.navbar-logo h2{
    color:blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin: auto;
    user-select: none;
}
.navbar-search{
    width: 73%;
    height: auto;
    display: flex;
}
.navbar-search form{
    width: 80%;
    margin: auto;
}
.navbar-search button{
    width: 38px;
    height: 38px;
    /* border-radius: 21px; */
    border: 0.4px solid gray;
    cursor: pointer;
    margin: auto;
    border-right: 1px solid gray;
    border-left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    right: 4px;
}
.navbar-search input{
    /* display: flex; */
    width: 90%;
    height: 36px;
    /* border-radius: 5px; */
    border-color: rgba(0, 0, 0, 0.644);
    padding:0 5px;
    justify-content: center;
    margin: auto;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.navbar-search input:focus{
    outline:none;
    border: 1px solid blue;
    border-right: 0px;
}
.navbar-account{
    width: 14%;
    height: auto;
    display: flex;
    border: 1px solid gray;
    border-radius: 16px;
}
.navbar-account img{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    margin: auto;
}
.navbar-account p{
    margin: auto;
    /* padding: 5px 0; */
    display: flex;
    align-items: center;
    user-select: none;
}
.container-main{
    width: 100%;
    height: auto;
    display: flex;
}
.menu{
    min-width: 20%;
    height: 398px;
    border-right: 1px solid gray;
}
.menu-bar{
    width: 100%;
    height: auto;
    /* padding: 10px 0px; */
    /* background-color:rgb(139, 136, 121); */
    background-color: #E7E9EB;
}
.menu-blocks{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.563);
    border-bottom-width: 80%;
    transition: 0.5s;
    
}
.menu-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height:82px ;
    user-select: none;
    background-color: rgb(7 59 176 / 60%);
    margin-bottom:10px;
}
.menu-header h2{
    font-size: 40px;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5px;
    color:white;
}
.menu-header p{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height:20px;
    padding-bottom: 10px;
}
.menu-blocks a{
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.723);
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    /* justify-content: center; */
    align-items: center;
    transition: 0.5s;
    text-align: left;
    padding-left: 15px;
   /* padding: 16px 56px; */
  
}
.menu-blocks a i{
    margin-right:10px;
}
.menu-blocks:hover{
    /* transform: translateX(30px); */
    background-color: blue;
    transition-timing-function: ease-in;   
    /* border-radius: 10px; */
}
.menu-header:hover{
    background-color: rgb(7 59 176 / 60%);
}
.menu-blocks a:hover{
    color: white;
    transition-timing-function: ease-in;
}
.main{
    width: 100%;
    height: auto;
}
.main-groups{
    height: auto;
    width: 100%;
}
.groups{
    padding-top:30px;
    width: 80%;
    height: auto;
    display: flex;
    /* display:none; */
    flex-wrap: wrap;
    margin: auto;
}
.groups-block{
    height: auto;
    width: 26%;
    background-color: rgb(0, 102, 255);
    border-radius:10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
}
.groups-block a{
    display:flex;
    width: 60px;
    height: 30px;
    margin-left:10px;
    background-color:rgba(255, 0, 0, 0.758);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius:10px;
}
.groups-p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 20px;
    width:60%;
}
.groups-p-nd{
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    /* text-align: center; */
    line-height: 20px;
    display: inline-block;
    text-transform: uppercase;
    /* overflow:scroll; */
    width: 70%;
    height: 50px;
}
.groups-p-third{
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-size: 10px;
    width: 100%;
}
.group-table{
    display: none;
}
#back{
    width:80px;
    height: 30px;
    background-color: blue;
    border: none;
    border-radius: 3px;
    color: white;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 50px;
}
.netice2{
    margin-left: 6px;
    width: 50px;
    overflow: hidden;
}
