*{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    border: 0.5px solid gray;
    border-radius: 5px;
    position: relative;
}
.header{
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.buttons{
    width: 90%;
    height: auto;
    margin: auto;
}
.buttons button{
    width: 110px;
    height: 30px;
    border: none;
    background-color: rgb(0, 119, 255);
    color: white;
    border-radius:3px ;
    cursor: pointer;
}
.table{
    width: 100%;
    height: auto;
    margin-top: 10px;
    user-select: none;
}
#journal1 table td, #journal1 table th{
    border: 1px solid #ddd;
}
.lab table td, .lab table th{
    border: 1px solid #ddd;
}
.table table{
    width: 98%;
    height: auto;
    border-collapse: collapse;
    border-radius: 5px;
    margin: auto;
    user-select: none;
}
.name{
    width: 30%;
}
.names{
    font-size: 20px;
}
.names td:first-child{
    padding: 5px;
}
.names td:nth-child(2){
    padding-left: 10px;
}
.dates{
    margin-left: 30px;
    width: 50px;
    height: 20px;
    border: none;
    background-color: #211d1df5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.modal{
    display: none;
    position: absolute;
    left: 400px;
    top: 150px;
    width: 550px;
    height: 250px;
    margin: auto;
    border: 0.5px solid gray;
    border-radius: 3px;
    background-color: rgb(242, 242, 242);
}
.close{
    display: flex;
    justify-content: flex-end;
}
.close i{
    font-size: 30px;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.evaluation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.evaluation button{
    width: 50px;
    height: 20px;
    margin: 5px;
    border: none;
    color: white;
    border-radius: 3px;
    margin-top: 30px;
    cursor: pointer;
}
.evaluation button:first-child{
    background-color: blue;
    color: white;
}
.evaluation button:nth-child(2){
    background-color: red;
}
.evaluation button:nth-child(3){
    background-color: rgb(0, 170, 255);
}
.ie{
    background-color: blue;
    color: white;
}
.qb{
    background-color: red;
    color: white;
}
.b{
    background-color: rgb(0, 170, 255);
    color: white;
}
.lab{
    display: none;
    width: 100%;
    position: relative;
}
.lab table{
    width: 98%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 30px;
    user-select: none;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
}
#labisibasliq th:first-child{
    width: 1% !important;
    padding: 1px;
    margin: auto;
    text-align: center;
}
.names1 td:first-child{
    width: 0;
    padding: 5px;
    text-align: center;
}
.name1{
    width: 20%;
    
}
.labbutton{
    width: 110px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    border: none;
    background-color: rgb(0, 119, 255);
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.lab-modal{
    display: none;
    width: 50%;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 200px;
    background-color: white;
    border: 1px solid black;
}
#close1{
    color: black !important;
}
.labsay{
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#count{
    width: 160px;
    height: 20px;
}
.labsay button{
    width: 80px;
    height: 23px;
    border: 0;
    background-color: #0074e0f5;
    color: white;
    border-radius: 3px;
    margin-left: 5px;
}
.block{
    pointer-events: none;
}
.time-interval-modal{
    width:400px;
    height: 300px;
    margin: auto;
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
    /* display: flex; */
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 35%;
    display: none;
}
.timeclose{
    width: 100%;
    height: 30px;
}
#timeclose{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.time{
    width: 100%;
    display: flex;
    justify-content: center;
}
.time input{
    /* margin: auto; */
    width: 110px;
    height: 20px;
    margin: 3px;
}
.add{
    width: 100%;
    display: flex;
    justify-content: center;
}
.add button{
    width: 100px;
    height: 25px;
    border: none;
    background-color: #0074e0f5;
    color: white;
    border-radius: 3px;
}
.labbasliq{
    width: 100%;
    font-size: 12px;
    cursor: pointer;
    color: red;
}
.iebutton{
    border: none;
    color: white;
    background-color: #0074e0f5;
    width: 30px;
    border-radius: 3px;
    cursor: pointer;
    margin: 3px;
}
.lab-evaluation-modal{
    width: 30%;
    display: none;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 250px;
    left: 450px;
    background-color: white;
    border: 1px solid black;
}
.tamam{
    background-color: green !important;
    color: white;
    
}
.natamam{
    background-color: rgb(255, 188, 0) !important;
    color: white;
}
.sifir{
    background-color: red !important;
    color: white;
}
.evaluation1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}
.evaluation1 button{
    width: 70px;
    height: 20px;
    border: none;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
}
.dates1{
    margin-left: 30px;
    min-width: 48%;
    height: 20px;
    border: none;
    background-color: #211d1df5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
